.bl-background {
    background: #cdcbcb;
    padding: 20px;
	position: relative;
	height: 270px;
}

.bl-list {
    background: white;
    margin-bottom: 10px;
	width: 500px;
	height: 200px;
}

.bl-bought {
    background: white;
	width: 200px;
	font-family: Verdana, sans-serif;
	font-size: 110%;
	position: absolute;
	bottom:	90px;
	right:	600px;
}
.bl-hidname{
	margin-top: 15px;
}
.bl-bt1 {
	background: #cdcbcb;
}
.bl-bt2 {
	background: #cdcbcb;
}
.bl-bt3 {
	background: #cdcbcb;
}

.bl-badge {
	font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #8A2BE2;
	width: 75px;
	height: 20px;
	position: absolute;
	bottom:	0px;
	transition:	all	1s	ease;
}
.bl-badge:hover { background: #00008B; height: 55px; }

.bl-row {
    margin-left: 10px;
}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
}
.bl-plus {
	width: 30px;
	height: 30px;
	font-weight: 700;
    color: white;
	border: none;
    text-decoration: none;
    background: rgb(64,199,129);
	border-radius: 30px 30px;
	margin-right: 60px;
	font-weight: 700;
    outline: none;
	box-shadow: 0 -3px rgb(53,167,110) inset;
}
.bl-plus:hover { background: rgb(53, 167, 110); }

.bl-minus1 {
	color: white;
	width: 30px;
	height: 30px;
	border: none;
    background: #FF6347; 
	margin-left: 59px;
	border-radius: 30px 30px;
	box-shadow: 0 -3px firebrick inset;
	
}
.bl-minus1:hover { background: firebrick; }
.bl-minus2 {
	color: white;
	width: 30px;
	height: 30px;
	border: none;
    background: #FF6347;
    margin-left: 77px;	
	border-radius: 30px 30px;
	box-shadow: 0 -3px firebrick inset;
}
.bl-minus2:hover { background: firebrick; }
.bl-minus3 {
	color: white;
	width: 30px;
	height: 30px;
	border: none;
    background: #FF6347;
    margin-left: 110px;
	border-radius: 30px 30px;
    box-shadow: 0 -3px firebrick inset;	
}
.bl-minus3:hover { background: firebrick; }
.bl-product {
	font-family: Verdana, sans-serif;
	font-size: 110%;
	margin-bottom: 10px;
	
}
.in-tov {
	height: 25px;
	width: 400px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bl-add {
	height: 32px;
	border: none;
	background: #20B2AA;
	box-shadow: 0 -3px #008B8B inset;
    border-radius: 5px 5px;	
	margin-left: -4px;	
}
.bl-add:hover { background: #008B8B; }
.bl-x {
	color: white;
	height: 32px;
	width: 32px;
	border: none;
	background: #DC143C;
	border-radius: 6px 6px;
	box-shadow: 0 -3px #A52A2A inset;
}
.bl-x:hover { background: firebrick; }

.bl-buy {
	height: 32px;
	border: none;
	border-radius: 5px 5px;
	box-shadow: 0 -3px #808080 inset;
}
.bl-buy:hover { background: #A9A9A9; }
.bl-title {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}
