.bl-background {
    background: #cdcbcb;
    padding: 20px;
	position: relative;
}

.bl-list {
    background: white;
    margin-bottom: 10px;
	width: 400px;
}

.bl-bought {
    background: white;
	width: 200px;
	font-family: Verdana, sans-serif;
	font-size: 90%;
	position: absolute;
	bottom:	90px;
	right:	700px;
}

.bl-row {
    margin-left: 10px;
	
}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
}
.bl-plus {
    background: #04a613;
	border-radius: 30px 30px;
	margin-right: 60px;
}

.bl-minus1 {
    background: #ff0000; 
	margin-left: 59px;
	border-radius: 30px 30px;
	
}
.bl-minus2 {
    background: #ff0000;
    margin-left: 74px;	
	border-radius: 30px 30px;
}
.bl-minus3 {
    background: #ff0000;
    margin-left: 100px;
	border-radius: 30px 30px;	
}
.bl-product {
	font-family: Verdana, sans-serif;
	font-size: 90%;
	margin-bottom: 10px;
	
}
.in-tov {
	margin-bottom: 10px;
	margin-top: 10px;
}

.bl-add {
	background:#1e90ff;
	margin-left: -4px;	
}
.bl-x {
	background:#ff0000;
	border-radius: 6px 6px;
}

.bl-buy {
	border-radius: 15px 15px;
}
.bl-title {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}
