.bl-background {
    background: #cdcbcb;
    padding: 20px;
	position: relative;
	height: 270px;
}

.bl-list {
	position: relative;
    background: white;
    margin-bottom: 10px;
	width: 500px;
	height: 200px;
}

.bl-bought {
    background: white;
	width: 300px;
	font-family: Verdana, sans-serif;
	font-size: 110%;
	position: absolute;
	bottom:	90px;
	right:	500px;
}
.bl-hidname{
	margin-top: 15px;
}
.bl-bt1 {
	background: #cdcbcb;
}
.bl-bt2 {
	background: #cdcbcb;
}
.bl-bt3 {
	background: #cdcbcb;
}

.bl-badge {
	font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #8A2BE2;
	width: 75px;
	height: 20px;
	position: absolute;
	bottom:	0px;
	transition:	all	1s	ease;
}
.bl-badge:hover { background: #00008B; height: 55px; }

.bl-row {
    margin-left: 10px;
}



.bl-prodinp {
	visibility: hidden;
	font-family: Verdana, sans-serif;
	font-size: 90%;
	width: 100px;
	position: absolute;
	left:0px;
}

/*Кнопки*/



.bl-label {
	position:absolute;
	left:230px;
    background: #cdcbcb;
	margin-top:5px;
	width: 10px;
}

.bl-minus {
	visibility: visible;
	position:absolute;
	left:190px;
	color: white;
	width: 30px;
	height: 30px;
	border: none;
    background: #FF6347; 
	border-radius: 30px 30px;
	box-shadow: 0 -3px firebrick inset;
	
}
.bl-minus:hover { background: firebrick; }

.bl-plus {
	visibility: visible;
	position:absolute;
	left:250px;
	width: 30px;
	height: 30px;
	font-weight: 700;
    color: white;
	border: none;
    text-decoration: none;
    background: rgb(64,199,129);
	border-radius: 30px 30px;
	margin-right: 60px;
	font-weight: 700;
    outline: none;
	box-shadow: 0 -3px rgb(53,167,110) inset;
}
.bl-plus:hover { background: rgb(53, 167, 110); }

.bl-buy {
	visibility: visible;
	position:absolute;
	left:330px;
	height: 32px;
	border: none;
	border-radius: 5px 5px;
	box-shadow: 0 -3px #808080 inset;
}
.bl-buy:hover { background: #808080; }

.bl-notbuy {
	visibility: hidden;
	position: absolute;
	left:360px;
	height: 32px;
	border: none;
	border-radius: 5px 5px;
	box-shadow: 0 -3px #808080 inset;
}
.bl-notbuy:hover { background: #808080; }

.bl-x {
	visibility: visible;
	position:absolute;
	left:410px;
	color: white;
	height: 32px;
	width: 32px;
	border: none;
	background: #DC143C;
	border-radius: 6px 6px;
	box-shadow: 0 -3px #A52A2A inset;
}
.bl-x:hover { background: firebrick; }

.bl-product {
	position: relative;
	font-family: Verdana, sans-serif;
	font-size: 110%;
	margin-top: 20px;
	
}
.in-tov {
	height: 25px;
	width: 400px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bl-add {
	height: 32px;
	border: none;
	background: #20B2AA;
	box-shadow: 0 -3px #008B8B inset;
    border-radius: 5px 5px;	
	margin-left: -4px;	
}
.bl-add:hover { background: #008B8B; }


.bl-title {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}


/*Тултіпи*/
.minustooltip::after {
  font-size: 12px;
  background: #A113B0;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: attr(data-tooltip); 
  margin-top: -30px;
  opacity: 0;
  padding: 3px 7px;
  position: absolute;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index:2;
}
.minustooltip:hover::after {
	opacity: 1;
    visibility: visible;
}

.deltooltip::after {
  font-size: 12px;
  background: #A113B0;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: attr(data-tooltip); 
  margin-top: -30px;
  opacity: 0;
  padding: 3px 7px;
  position: absolute;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index:2;
}
.deltooltip:hover::after {
	opacity: 1;
    visibility: visible;
}

.plustooltip::after {
  font-size: 12px;
  background: #A113B0;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: attr(data-tooltip); 
  margin-top: -30px;
  opacity: 0;
  padding: 3px 7px;
  position: absolute;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index:2;
}
.plustooltip:hover::after {
	opacity: 1;
    visibility: visible;
}
